#page-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

#nutrient {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nutrient-input-label {
    margin-right: 0.5rem;
}
.nutrient-input {
    margin-right: 1.5rem;
}

#display-result {
    width: 75%;
    height: 20rem;
    border: 2px;
}